{% extends "content/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}
{% block meta %}
{% with page.seo_title|default:page.title as page_title %}
{% with page.search_description|default:page.intro as page_description %}
{% with page.get_social_image_url as page_image %}
{{ block.super }}
{% endwith %}
{% endwith %}
{% endwith %}
{% endblock %}
{% block content %}
<nav aria-label="breadcrumbs" class="mb-4">
  <ol class="pg-breadcrumbs">
    <li><a href="{{ page.get_parent.url }}">{{ page.get_parent.title }}</a></li>
    <li class="pg-breadcrumb-active" aria-current="page">{{ page.title }}</li>
  </ol>
</nav>
<article class="prose prose-sm mx-auto my-8">
  <h1>{{ page.title }}</h1>
  {% if page.intro %}<h2 class="text-base-content/70">{{ page.intro }}</h2>{% endif %}
  <p class="text-sm text-base-content/70">{{ page.date }}</p>
  <div class="my-4">
    {% include_block page.body %}
  </div>
  {% for item in page.gallery_images.all %}
  {% if forloop.first %}
  <hr class="my-8">
  <h2>{% translate 'Image Gallery' %}</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
    {% endif %}
    <div>
      {% image item.image fill-320x240 loading="lazy" width="320" height="240" %}
      <p class="text-sm text-base-content/70 mt-2">{{ item.caption }}</p>
    </div>
    {% if forloop.last %}
  </div>
  {% endif %}
  {% endfor %}
</article>
{% endblock %}